.banner18 {  font-family: Arial, Helvetica, sans-serif; font-size: 18pt; font-style: normal; font-weight: bold; color: #333399}
.banner24 { font-family: Arial, Helvetica, sans-serif; font-size: 24pt; font-style: normal; font-weight: bold; color: #333399 }
.fineprint { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; color: #000000}
.item14 { font-family: Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; font-weight: normal}
.item16 { font-family: Arial, Helvetica, sans-serif; font-size: 16pt; font-style: normal; font-weight: normal; color: #000000}
.item12 { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: normal; color: #000000}
.item10 { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal; color: #000000}
.plaintext { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: normal}
.plaintextbold { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold}
.item11 { font-family: Arial, Helvetica, sans-serif; font-size: 11pt; font-style: normal; font-weight: normal; color: #000000}
.item10bold { font-family: Arial, Helvetica, sans-serif; font-size: 10pt; font-style: normal; font-weight: bold; color: #000000}
.banner22 { font-family: Arial, Helvetica, sans-serif; font-size: 22pt; font-style: normal; font-weight: bold; color: #333399 }
.banner20 { font-family: Arial, Helvetica, sans-serif; font-size: 20pt; font-style: normal; font-weight: bold; color: #333399 }
.code {  font-family: "Courier New", Courier, mono; font-size: 10pt; font-style: normal; font-weight: normal}
.codeitalic { font-family: "Courier New", Courier, mono; font-size: 10pt; font-style: italic; font-weight: normal }
.item12bold { font-family: Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; color: #000000}
.fineprintbold { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-style: normal; font-weight: bold; color: #000000 }
.headingnew { font-family: "Arial Narrow"; font-size: 22pt; font-style: normal; font-weight: bold; color: #000000 ; text-decoration: underline}
.item9 { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal; color: #000000 }
